extends layouts/main

block content
    .title Korean Name Generator
    .description Get your unique Korean name with your birthday
    
    form.form#jsBirth(action=routes.submit, method="post")
        span Select your gender
        .switch
            input#left-switch(type="radio", name="gender", value="male" checked)
            label(for="left-switch") Male
            input#right-switch(type="radio", name="gender", value="female")
            label(for="right-switch") Female
            .switch-bg
        span Put your birth
        .date
            select(name="day" min="1" max="31" placeholder="DD" id="birthday-day")
                option(value="") DD
                -for (let i = 1; i < 32; i++)
                    option(value=i) #{i}
            span .
            select(name="month" min="1" max="12" placeholder="MM" id="birthday-month")
                option(value="") MM
                -for (let i = 1; i < 13; i++)
                    option(value=i) #{i}
            span .
            select(name="year" min="1900" max="2020" placeholder="YYYY" id="birthday-year")
                option(value="") YYYY
                -for (let i = 1960; i < 2020; i++)
                    option(value=i) #{i}
        input.bubbly-button(type="submit", value="What is my Korean name?")


    //- .name-description Most of the Korean names consist of three syllables <br>(sometimes two or four).<br>Each syllable represents a different meaning, and they combined to create one single signification.
